.empty-state-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty-state-icon {
    animation: fadeIn 0.5s ease-in-out;
  }

  h5 {
    color: #495057;
    font-weight: 500;
  }

  p {
    font-size: 0.9rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

