.message-list-scroll {
  max-height: 400px;
}

#elmLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  .spinner-border {
    animation: spinner-border 0.75s linear infinite;
  }

  p {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

